.tweet-container{
    background-color: white;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    transition: background-color 0.2s linear;
    border: 1px solid #eee;
}
.tweet-container:hover{
    background-color: #eee;
}
.tweet-container > div > h1 , .tweet-container > div > span {
    margin: 0 5px;
}
.tweet-container > div {
    width: 100%;
}
.tweet-nickname{
    font-size: 1em;
    font-weight: 600;
}
.tweet-handle, .tweet-date{
    color: #657786;
}
.tweet{
    line-height: 1.3;
}